{% extends "layout.html" %}

{% block body %}
  <h2>Добавить пациента</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('patients_app.add_patient') }}" method=post>
    <dl>
      <dt>Фамилия:
      <dd><input type=text name=lName value = '{{ patient.lName }}' required>
      <dt>Имя:
      <dd><input type=text name=fName value = '{{ patient.fName }}' required>
      <dt>Отчество:
      <dd><input type=text name=mName value = '{{ patient.mName }}' required>
      <dt>Дата рождения:
      <dd><input type=date name=datebirth value = '{{ patient.datebirth }}' required>
      <dt>Пол:
      <dd><input type=radio name=gender value='М' 
		{%if patient.gender == 'М'%}checked{%endif%} required>Мужской
          <input type=radio name=gender value='Ж' {%if patient.gender == 'Ж'%} checked{%endif%} required>Женский
      <dt>СНИЛС:
      <dd><input type=text name=SNILS value = '{{ patient.SNILS }}' required>
      <dd><input type=submit value=Добавить>
    </dl>
  </form>
{% endblock %}