{% extends "layout.html" %}

{% block body %}
  <h2>Добавить анализы</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  {% if patient_id%}
  <a href="{{ url_for('patients_app.show_patient', patient_id = patient_id) }}">Вернуться к странице пациента</a>
  
  <form action="{{ url_for('tests_app.add_test', patient_id=patient_id)}}" method=post>
    <dl>
      <dt>Дата :
      <dd><input type=date name=testdate required value = {{ test.testdate }}>
      <dt>Гемоглобин:
      <dd><input type=text name=hemoglobin required value = {{ test.hemoglobin }}>
      <dt>Гематокрит:
      <dd><input type=text name=hematocrit required value = {{ test.hematocrit }}>
      <dt>Количество трамбоцитов:
      <dd><input type=text name=platelet_count required value = {{ test.platelet_count }}>
	  <dt>Количество лейкоцитов:
      <dd><input type=text name=leukocyte_count required value = {{ test.leukocyte_count }}>
      <dt>Дополнительная информация:
      <dd><input type=text name=info  value = {{ test.info }}>
	  
      <dd><input type=submit value=Добавить>
    </dl>
  </form>
  
  {%endif%}
{% endblock %}