<!doctype html>
<html>
<title>Flaskr</title>
{#<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">#}

<body>

    <div class=metanav>
	  {% if not session.logged_in %}
		<h3>Welcome stranger!</h3>	
		<a href="{{ url_for('login') }}">LOG IN</a>
	  {% else %}
		<h3>Welcome admin!</h3> 
		<a href="{{ url_for('logout') }}">LOG OUT</a>
	  {% endif %}
  </div>
  <br>
	
  {% if session.logged_in %}
  
  <a href="{{ url_for('patients_app.add_patient', patient = None) }}">Добавить пациента</a>  <br>
  <a href="{{ url_for('patients_app.show_list') }}">Список пациентов</a>     <br>    
  <a href="{{ url_for('tests_app.show_list')}}">Список анализов</a> 			<br>

  {% endif%}
	{%block body%} {%endblock%}
	{%block patients_block%} {%endblock%}
	{%block tests_block%} {%endblock%}
	
</body>



</html>