{% extends "layout.html" %}
{%block patients_block%}  
<ul class=patients>
	
	{%for patient in patients%}
    <table border="1">
		<caption><h2>Пациент</h2></caption>
		<tr><th>id</th> <th>{{ patient.id }}</th></tr>
		<tr><th>СНИЛС</th><th>{{ patient.SNILS }}</th></tr>
		<tr><th>Фамилия</th><th>{{ patient.lName }}</th></tr>
		<tr><th>Имя</th><th>{{ patient.fName }}</th></tr>
		<tr><th>Отчество</th><th>{{ patient.mName }}</th></tr>
		<tr><th>Дата рождения</th><th>{{ patient.datebirth }}</th></tr>
		<tr><th>Пол</th><th>{{ patient.gender }}</th></tr>
	</table>
	<a href="{{ url_for('tests_app.add_test', patient_id = patient.id)}}">Добавить анализы</a> <br>
	<a href="{{ url_for('tests_app.show_patient_tests', patient_id = patient.id) }}">Перейти к анализам</a><br>
	<a href="{{ url_for('patients_app.add_patient', edit_patient_id = patient.id)}}">Изменить данные пациента</a> <br>
	<a href="{{ url_for('patients_app.del_patient', patient_id = patient.id)}}">Удалить пациента</a> <br>
	{% else %}
	<li><em>Такого пациента не существует</em>
	{%endfor%}
  </ul>
 
{%endblock%}


	
