 {% extends "layout.html" %}
{%block patients_block%}  
<ul class=patients>
	{%if patients%}
	
    <table border="1">
		<caption><h2>Список пациентов</h2></caption>
		<tr>
			<th>id</th>
			<th>СНИЛС</th>
			<th>Фамилия</th>
			<th>Имя</th>
			<th>Отчество</th>
			<th>Дата рождения</th>
			<th>Пол</th>
			<th>Анализы</th>
			<th>Страница пациента</th>
			
		</tr>
		{% for patient in patients %}
			<tr>
				<th>{{ patient.id }}</th>
				<th>{{ patient.SNILS }}</th>
				<th>{{ patient.lName }}</th>
				<th>{{ patient.fName }}</th>
				<th>{{ patient.mName }}</th>
				<th>{{ patient.datebirth }}</th>
				<th>{{ patient.gender }}</th>
				<th><a href="{{ url_for('tests_app.show_patient_tests', patient_id = patient.id) }}">перейти к анализам</a></th>
				<th><a href="{{ url_for('patients_app.show_patient', patient_id = patient.id) }}">перейти к странице</a></th>
			</tr>
		{% endfor %}
	</table>
	{% else %}
	
    <li><em>Список пациентов пуст</em>
	{%endif%}
  </ul>
{%endblock%}